@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
  font-family: 'Poppins', sans-serif;
}
.nav-pills .nav-link {
  border: 1px solid #ccc;
  margin-right: 5px;
  color: #fff;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
}
.nav-pills .nav-link:hover {
  color: red;
}
  
  .nav-pills .nav-link.active {
    outline: none;
    font-size: 30px;
    border: none;
    background-color: #212121;
  }
  
  .container .row .col-md-6 span,
  .container .row .col-md-12 span {
    color: #fff;
  }
  
  .container .row .col-md-6 select,
  .container .row .col-md-6 select option {
    color: #000;
  }
  
  .mt-3 {
    margin-top: 1rem !important;
  }
  
  .mt-2 {
    margin-top: .5rem !important;
  }
  
  .border-bottom {
    border-bottom: 1px solid #ccc !important;
  }
  
  .pb-2 {
    padding-bottom: .5rem !important;
  }
  
  .bg-black {
    background-color: #212121 !important;
  }
  .card {
    max-width: 400px; /* Set a maximum width for each card */
  }
  
  .heart-icon {
    color: red; /* Adjust the color of the heart icon as needed */
  }
  
  .bg-black {
    color: white;
    background-color: #000; /* Ensure the background color of the card body is black */
  }
/* Categories.css */
.filter-container {
  position: relative;
  display: inline-block;
}

.filter-popup {
  display: none;
  position: absolute;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
  width: 300px;
}

.filter-container:hover .filter-popup {
  display: block;
}

.filter-heading {
  font-weight: bold;
  margin-bottom: 10px;
}

.color-options {
  display: flex;
  flex-wrap: wrap;
}

.color-option {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.color-label {
  display: block;
  text-align: center;
  margin-top: 5px;
}

.show-more-btn {
  display: block;
  margin: 10px 0;
  cursor: pointer;
  text-align: center;
  color: blue;
}

.size-options,
.material-options {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.size-option,
.material-option {
  margin: 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

