.custom-input {
    width: 100%;
    padding: 0.5rem;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 0;
  }
  
  .custom-input::placeholder {
    color: white;
  }
  
  .custom-button {
    width: 100%;
    padding: 0.5rem;
    background-color: rgb(255, 111, 111);
    color: rgb(211, 115, 115);
    border: none;
    border-radius: 0;
    font-weight: bold;
    text-transform: uppercase;
  }
  a{
    text-decoration: none;
  }