@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
  font-family: 'Poppins', sans-serif;
}


/* src/Header.css */
.top-bar {
    font-size: 14px;
  }
  
  .banner {
    background-color: #ff4d4d;
    color: white;
  }
  
  .banner h1 {
    margin-bottom: 0;
    font-weight: bold;
  }
   .shoplinks {
    font-weight: bold;
  }
  
  .navbar-nav .nav-link {
    color: white !important;
  }
  
  .navbar-toggler {
    border: none;
  }
  
  .navbar-toggler-icon {
    color: white;
  }
  
  .form-control {
    max-width: 200px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .fa-heart, .fa-shopping-bag {
    font-size: 18px;
  }
  
  /* Header.css */

/* Position the search button inside the input field */
form.position-relative .search-button {
  right: 20px;
  border: none;
  background: none;
  color: #fff;
}

/* Adjust the padding of the input field to make room for the search icon */
.form-control.formBgColor {
  padding-right: 2.5rem; /* Adjust as needed */
}

/* Additional styling for the input field */
.form-control.formBgColor {
  background-color: #979b9f; /* Example background color */
  color: #141414;
}

/* Ensure the input field and button align properly */
form.position-relative {
  width: 100%;
}

input[type="text"] {
  width: 100%;
  box-sizing: border-box;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}
