.HomePage {
    font-family: Arial, sans-serif;
    /* background-color: #131313; */
    
  
  }
  
  .top-bar {
    font-size: 14px;
  }
  
  .banner {
    background-color: #ff4d4d;
    color: white;
  }
  .main-headings {
    width: 50%;
  }
  .main-headings h1{
    color: white;

  }
  
  .hero-section {
    
    background-color: #f9f9f9f0;
    padding: 20px 20px;
    color: black;
  }
  
  .hero-section h1 {
    width: 50%;
    text-align: center;
    color: black;
    font-size: 3.5em;
    margin-bottom: 20px;
  }
  .lets-headings{
    
    background-color: white;
  }
  .bg-red{
    background-color: #D8272D;
  }
  
  .hero-section img {
    max-width: 100%;
    height: auto;
  }
  
  .mb-4 {
    margin-bottom: 1.5rem;
  }
  
  .newsletter {
    margin-top: 50px;
  }
  
  .newsletter h4 {
    margin-bottom: 20px;
  }
  
  .newsletter .form-control {
    width: 250px;
  }
  
  .form-inline input,
  .form-inline button {
    margin-top: 10px;
  }
  
  .featured-section .col-md-6 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .featured-section img.summer1 {
    width: 100%;
    max-width: 400px;
    height: auto;
    max-height: 600px;
    object-fit: cover;
  }
  .text-container {
    max-width: 80%; 
    text-align: justify;
  }


  
  .shop-item {
    position: relative;
    overflow: hidden;
    padding: 0;
  }
  
  .shop-item img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .shop-btn {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: #dc3545; /* Red color */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
  }
  
  .shop-section {
   
    padding: 10px 20px;
    min-height: 100vh; /* Ensures the container takes full height of the viewport */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .shop-item {
    position: relative;
  }
  
  .shop-item img {
    width: 80%;
    height: auto;
    display: block;
  }
  
  .overlay {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    align-items: center;
  }
  
  .overlay h3 {
    margin-right: 10px;
    margin-bottom: 0;
  }
  
  .overlay button {
    padding: 10px 20px;
    font-size: 14px;
  }
  
  .mb-4 {
    margin-bottom: 1.5rem; /* Adjust the gap between images */
  }
  
  .grey-section{
    color: white;
    background-color: #383838;
    border-radius: 10px;
  }

  .heart-icon{
    background-color: transparent;
    border-radius: 50%;
  }
  .heart-icon i {
   
    color: rgb(185, 49, 49);
    /* border: 1px solid black;/ */
    padding: 5px;
    border-radius: 50%;
    transition: background-color 0.3s, color 0.3s;
  }

  .heart-icon i:hover {
    color: red;
  }