/* Navbar.css */

.cart-dropdown {
    z-index: 1000;
    border: 1px solid #ddd;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  }
  
  .cart-dropdown img {
    width: 40%;
    height: auto;
  }
  
  .cart-dropdown .fa-shopping-bag {
    font-size: 1.2rem;
    margin-left: 5px;
  }
  
  .cart-dropdown h5 {
    margin: 0;
    font-size: 1.2rem;
  }
  .signupclr{
    color:black;
    font-weight: bold;
  }
 /* Styles for dropdown menus */
.navbar-nav .dropdown-menu {
  display: none;
  position: absolute;
  background-color: rgb(255, 255, 255); /* Your desired background color */
  padding: 1rem;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  top: 100%;
  left: 0;
  width: 800px; /* Increase width as needed */
}

.navbar-nav .dropdown:hover .dropdown-menu {
  display: block;
}

.navbar-nav .dropdown-item {
  color: black;
  padding: 10px 1rem;
}

.navbar-nav .dropdown-item:hover {
  background-color: #f8f9fa;
}

.navbar-nav .dropdown-menu .col-md-4 h6 {
  margin-bottom: 1rem;
  font-weight: bold;
}

/* Ensure equal spacing between columns */
.navbar-nav .dropdown-menu .row {
  display: flex;
  justify-content: space-between;
}

.navbar-nav .dropdown-menu .col-md-4 {
  flex: 1;
  margin: 0 10px; /* Adjust the margin as needed */
}

.navbar-nav .dropdown-menu .col-md-4:first-child {
  margin-left: 0;
}

.navbar-nav .dropdown-menu .col-md-4:last-child {
  margin-right: 0;
}

.hover-animation input:hover {
  transition: all 0.3s ease;
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.hover-animation button:hover {
  transition: all 0.3s ease;
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.container-transition {
  transition: width 0.3s ease;
}

.container-transition:hover {
  width: 380px;
}


