@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
  font-family: 'Poppins', sans-serif;
}
/* SignUp.css */

.sign-up-card {
    width: 1200px; /* Adjust the width as needed */
  }
  
  .sign-up-card .form-control {
    background-color: #1a1a1a;
    border: none;
    color: #fff;
  }
  
  .sign-up-card .form-control::placeholder {
    color: #888;
  }
  
  .sign-up-card .btn-light {
    background-color: #fff;
    color: #000;
  }
  
  .sign-up-card .btn-outline-light {
    border-color: #fff;
    color: #fff;
  }
  
  .sign-up-card .btn-outline-light:hover {
    background-color: #fff;
    color: #000;
  }
  
  .sign-up-card .text-light a {
    color: #00bfff;
  }
  
  .sign-up-card .text-light a:hover {
    color: #00aced;
  }
  