@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
  font-family: 'Poppins', sans-serif;
}
.container-cards {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  
  .left-side {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px; /* Reduced gap between cards */
  }
  
  .left-side .card {
    width: 70%; /* Ensure cards take full width of their container */
  }
  
  .right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px; /* Reduced margin between left and right side */
  }
  
  .right-side .card {
    width: 100%; /* Ensure the right-side card takes full width of its container */
    /* height: 70%; */
  }
  

  .icon-container {
    position: relative;
    display: inline-block;
  }
  
  .small-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
  }
  
  .blue {
    background-color: rgb(84, 84, 239);
  }
  
  .pink {
    background-color: pink;
  }
  
  .green {
    background-color: green;
  }
  