body{
  font-family: 'Poppins', sans-serif;
}
.inputField {
  background-color: #343a40; /* bg-dark */
  color: #f8f9fa; /* text-light */
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  box-shadow: none;
}

.form-control-custom:focus {
  border-bottom: 2px solid #007bff; /* Optional: Highlight color on focus */
  box-shadow: none;
}
.bg-black{
  background-color: black;
}
.boxshadow{
box-shadow: 2px 2px 2px 4px grey ;
}
.button{
  font-size: 20px;
}